*{
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  margin: 0;
}
#side-nav{
  width: 8%;
  display: inline-block;
  position: absolute;
  top:0;
  text-align: center;
  background-color: #fff;
  margin-right: 0;
}
#side-nav ul{
  padding: 0 0 0 0;
  border-right: 2px solid #D5D5D5;
  margin: 0;
}
#side-nav ul li{
  border-bottom: 2px solid #D5D5D5;
}
#side-nav ul img{
  width: 40%;
  margin: 15%;
}
#grid{
  position: relative;
  z-index: 1;
  display: grid;
  width: 92%;
  height: 1000px;
  background-color: #EEEEEE;
  margin: 0;
  float: right;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}
#grid .grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4,.grid-item-5,.grid-item-6,.grid-item-7,.grid-item-8,.grid-item-9,.grid-item-10,.grid-item-11{
  border: 1px solid #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  margin: 4%;
}
/* /////grid item 1///// */
#grid .grid-item-1{
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 9;
  background-color: #fff;
  margin: 2% 2% 2% 2%;
  overflow: hidden;
}
#grid .grid-item-1 img{
  position: relative;
  display: inline-block;
  width: 350px;
  height: 350px;
  bottom: 60%;
  left: 50%;
}
#grid .grid-item-1 .btn{
  display: block;
  width: 30%;
  height: auto;
  position: relative;
  float: right;
  top: 5%;
  right: 5%;
  color: #fff;
  background-color: #347FF2;
  text-align: center;
  margin: 0;

  border: 1px solid #3A81F3;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}
#grid .grid-item-1 .btn p{
  margin: 3%;
  font-weight: 500;
}
#grid .grid-item-1 .content{
  display: inline-block;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}
#grid .grid-item-1 .content h1{
  margin: 0;
  font-weight: 400;
  color: #333333;
}
#grid .grid-item-1 .content p{
  margin: 10% 10%;
  color: #838383;
}
/* /////grid item 2///// */
#grid .grid-item-2{
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
  background-color: #ABCBD6;
  height: auto;
}
#grid .grid-item-2 img{
  display: block;
  width: 75%;
  height: auto;
  position: relative;
  top: -5%;
  margin: 0 auto;
  overflow: hidden;
}
#grid .grid-item-2 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 0 0 3% 0;
  color: #fff;
}
#grid .grid-item-2 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-2 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////grid item 3///// */
#grid .grid-item-3{
  grid-column-start:4;
  grid-row-start: 1;
  grid-row-end: 9;
  background-color: #F8BD27;
}
#grid .grid-item-3 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-3 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 45% 0 3% 0;
  color: #fff;
}
#grid .grid-item-3 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-3 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* ///////////////////grid-item-4/////////////////// */
#grid .grid-item-4{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 15;
  background-color: #CE483D;
}
#grid .grid-item-4 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-4 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 15% 0 3% 0;
  color: #fff;
}
#grid .grid-item-4 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-4 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* ///////////////////grid-item-5/////////////////// */
#grid .grid-item-5{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 16;
  background-color: #79302A;
}
#grid .grid-item-5 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-5 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 25% 0 3% 0;
  color: #fff;
}
#grid .grid-item-5 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-5 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 6//////////////// */
#grid .grid-item-6{
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 13;
  background-color: #7BC1A1;
}
#grid .grid-item-6 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-6 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 10% 0 3% 0;
  color: #fff;
}
#grid .grid-item-6 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-6 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 7//////////////// */
#grid .grid-item-7{
  grid-column-start:4;
  grid-row-start: 9;
  grid-row-end: 15;
  background-color: #347FF2;
}
#grid .grid-item-7 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-7 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 10% 0 3% 0;
  color: #fff;
}
#grid .grid-item-7 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-7 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 8//////////////// */
#grid .grid-item-8{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 15;
  grid-row-end: 21;
  background-color: #83A125;
}
#grid .grid-item-8 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-8 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 10% 0 3% 0;
  color: #fff;
}
#grid .grid-item-8 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-8 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 9//////////////// */
#grid .grid-item-9{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 21;
  background-color: #F4A92B;
}
#grid .grid-item-9 img{
  display: block;
  width: 40%;
  height: auto;
  position: relative;
  top: 5%;
  margin: 0 auto;
}
#grid .grid-item-9 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 12% 0 3% 0;
  color: #fff;
}
#grid .grid-item-9 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-9 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 10//////////////// */
#grid .grid-item-10{
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 21;
  /* background-color: #F4A92B; */
}
#grid .grid-item-10 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 10%;
  margin: 0 auto;
}
#grid .grid-item-10 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 45% 0 3% 0;
  color: #fff;
}
#grid .grid-item-10 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-10 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
/* /////////////////grid item 11//////////////// */
#grid .grid-item-11{
  grid-column-start:4;
  grid-row-start: 15;
  grid-row-end: 21;
  background-color: #2B2423;
}
#grid .grid-item-11 img{
  display: block;
  width: 60%;
  height: auto;
  position: relative;
  top: 4%;
  margin: 0 auto;
}
#grid .grid-item-11 .bottom-section{
  display: block;
  position: relative;
  bottom: 6%;
  width: 100%;
  height: auto;
  margin: 10% 0 3% 0;
  color: #fff;
}
#grid .grid-item-11 .bottom-section h4{
  margin: 0 3% 0 3%;
}
#grid .grid-item-11 .bottom-section p{
  margin: 3%;
  font-size:14px;
}
